# Railway deploy: pakai internal (hanya jalan di dalam Railway)
DB_URL=mysql://root:QSCqwPCkwlSqQXPphIsdgpawYfSChYHe@mysql.railway.internal:3306/railway

# Lokal: pakai proxy (hanya jalan di laptop)
# DB_URL=mysql://root:QSCqwPCkwlSqQXPphIsdgpawYfSChYHe@hopper.proxy.rlwy.net:51823/railway

# Alternatif tanpa DB_URL
# DB_USER=root
# DB_PASS=...
# DB_HOST=...
# DB_PORT=3306
# DB_NAME=railway

JWT_SECRET=ganti_dengan_random_32_char_di_prod